<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="static/estilo.css">
</head>
<body id="home">
    <img id="logo-home" src="/static/img/Logo texto.png">
   
    <div class="botoes">
        <a href="/criar-musicas"> + Criar uma música</a>
    </div>
    
    <section class="my-creations">
      <h2>Minhas Criações</h2>
      <div class="cards-container">
        {% for musica in musicas %}
        <div class="card">
            <img src="/static/img/capa1.jpeg" alt="Capa do Projeto" class="cover">
            <div class="card-content">
              <h3>{{musica[3]}}</h3>
              <p>Artista: {{musica[2]}}</p>
              <p>Status: {{musica[4]}}</p>
              <p>Letra: {{musica[1]}}</p>
            </div>
            <input type="button" onclick="window.location.href='/home/excluir-musica/{{musica[0]}}'" value = "excluir">
          </div>
        </div>
        {% endfor %}
      </section>
      <br>
      <br>
      <br>
  <input type="button" onclick="window.location.href='/home/excluir-usuario'" value = "excluir usuario">
</body>
</html>